* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --gameOver-color: #fee;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --background-color: #111;
    --gameOver-color: #211;
  }
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
body.gameOver {
  background-color: var(--gameOver-color);
}

.mainWrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > * {
  margin: 0;
}

.gameCanvas {
  border: 2px solid var(--primary-color);
  max-width: 100%;
  width: 480px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.screenControls {
  display: grid;
  grid-template: 1fr 1fr / 2fr 3fr 2fr;
  gap: 5px;
}

.directionButton {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* border: 1px solid #888; */
}

#leftButton,
#rightButton {
  grid-area: span 2 / span 1;
}

.directionButton::before {
  width: 0;
  height: 0;
  content: '';
  border: 0.6em solid transparent;
  border-bottom-color: white;
  border-top-width: 0;
}

#rightButton::before {
  transform: rotate(90deg);
}
#leftButton::before {
  transform: rotate(-90deg);
}
#downButton::before {
  transform: rotate(180deg);
}
