* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.mainWrapper {
  padding: 1em;
}

.header {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > * {
  margin: 0;
}

.gameCanvas {
  border: 2px solid #000;
  max-width: 100%;
  width: 480px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
